html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

.element::-webkit-scrollbar { width: 0 !important }

body {
    overflow:auto;
}

.container {
 display: grid;
 align-items: center; 
 grid-template-columns: 1fr 1fr 1fr;
 column-gap: 5px;
}

img {
  max-width: 100%;
  max-height: 100%;
}


div {
  margin: 0;
}

p{
  font-family: Poppins;
  color: white;
  font-size: 23px;
  margin-top: 0px;
}

h2 {
  font-family: Archivo Black;
  color: white;
  margin:0;
}

h1 {
  font-size: 75px;
  color: white;
  font-family: Archivo Black;
  margin-bottom: 4px;
}
  
.centered {
    position: fixed;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
  }


.btn-group button {
  background-color: black; 
  letter-spacing: 1px;
  border: 1px solid white; 
  color: white; 
  padding: 10px 24px; 
  cursor: pointer; 
  float: left;
  font-family: 'VT323', monospace;
}

  .BTN_Format {
    background-color: black; 
    color: white; 
    border: 2px solid #FFFFFF;
    border-radius: 8px;
  }
  
  .BTN_Format:hover {
    background-color: #FFFFFF;
    color: black;
    border-radius: 8px;
  }

.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:hover {
  background-color: white;
  color: black;
}

.mobileHide { 
  display: inline;
}


@media screen and (max-width: 760px) {
    h1 {
        font-size: 40px; /* Adjusted font size for better readability */
    }

    p {
        font-size: 18px; /* Reduced font size for paragraphs on smaller screens */
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 25px; /* Further reduced font size for smaller screens */
    }

    p {
        font-size: 14px; /* Further reduced font size for paragraphs on smaller screens */
    }

    .centered {
        position: absolute; /* Changed position to absolute for better centering */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .btn-group button {
        width: 100px; /* Slightly reduced button width for smaller screens */
        height: 40px; /* Slightly reduced button height for smaller screens */
        font-size: 14px; /* Reduced font size for better fit on smaller buttons */
        padding: 5px 12px; /* Adjusted padding for smaller buttons */
    }
}
