html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

.element::-webkit-scrollbar { width: 0 !important }

body {
    overflow:auto;
}

.container {
 display: grid;
 align-items: center; 
 grid-template-columns: 1fr 1fr 1fr;
 column-gap: 5px;
}

img {
  max-width: 100%;
  max-height: 100%;
}


div {
  margin: 0;
}

.subtext, marquee, h3, subtext{
  font-family: Poppins;
  color: white;
}

h2 {
  font-family: Archivo Black;
  color: white;
  margin:0;
}


  
.centered {
    position: fixed;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
  }


.btn-group button {
  background-color: black; 
  border: 1px solid white; 
  color: white; 
  padding: 10px 24px; 
  cursor: pointer; 
  float: left;
  font-family: 'VT323', monospace;
}

  .BTN_Format {
    background-color: black; 
    color: white; 
    border: 2px solid #FFFFFF;
    border-radius: 8px;
  }
  
  .BTN_Format:hover {
    background-color: #FFFFFF;
    color: black;
    border-radius: 8px;
  }

.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:hover {
  background-color: white;
  color: black;
}

.mobileHide { 
  display: inline;
}


@media screen and (max-width: 760px) {
    .htext {
        font-size: 50px;
    }
  

}

@media screen and (max-width: 600px) {
    .htext {
      font-size: 30px;
    }
  
    .centered {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .btn-group button {
      width: 110px;
      height: 50px;
    }
}
